<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Nowcoder/10-20/cn/edu/buaa/haoli/chapter3/Fifteen.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu.buaa.haoli.chapter3.Fifteen"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Nowcoder"/>
</launchConfiguration>
